@charset "UTF-8";
img .center-block {
  max-width: 99%;
  margin: 0px auto;
  display: block;
}

html {
  font-size: 12px;
  -webkit-tap-highlight-color: #000;
}

body {
  font-size: 1.7rem;
  color: #afafaf;
  background-color: #8a4289;
  text-shadow: 0px 0px 2px #000;
}

.wrapper {
  margin: 0px;
  padding: 0px 5px;
}
.wrapper-box {
  margin: 0px 5px;
}
@media screen and (min-width: 1050px) {
  .wrapper-box {
    max-width: 1200px;
    min-width: 801px;
    width: auto;
  }
}
@media screen and (min-width: 1205px) {
  .wrapper-box {
    margin: 0 auto;
  }
}
.wrapper-box:not(.scribo-nav):not(footer), .wrapper-contend {
  background-color: hsl(301, 65%, 16%);
}
.wrapper-contend {
  margin: 8px 5px -2px;
  border: 0px inset #000;
  padding: 10px 5px;
}

main {
  display: block;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

input[type=checkbox] {
  cursor: pointer;
}

.elementor-widget-container ul {
  list-style: none;
}
.elementor-widget-container ul li::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f1b0"; /* code de l'icône souhaitée */
  margin-right: 5px; /* ajouter un espace entre l'icône et le texte */
  animation-name: rotate-icon;
  animation-duration: 2s;
  animation-timing-function: linear;
  display: inline-block;
  transform: rotate(45deg);
}

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
select.readonly {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  border: none;
  color: rgb(51, 51, 51);
  position: relative;
  left: -2px;
}

.scribo-header {
  margin: 0px auto;
  padding: 5px;
}
.scribo-header__logo {
  width: 90%;
  height: auto;
  display: block;
  margin: 0px auto;
}
@media screen and (max-width: 449px) {
  .scribo-header__logo {
    width: 70vw;
  }
}
@media screen and (max-width: 1049px) {
  .scribo-header__logo {
    width: 80vw;
  }
}

.scribo-info {
  position: relative;
  line-height: 23px;
}
.scribo-info .--compteur_jours {
  font-size: 20px;
  word-spacing: -4px;
}
@media screen and (max-width: 449px) {
  .scribo-info .--compteur_jours {
    font-size: 23px;
  }
}
.scribo-info .--compteur- {
  margin: 0 5px;
  display: none;
}
.scribo-info .--compteur_heures {
  font-size: 24px;
  position: absolute;
  right: 2px;
}
@media screen and (max-width: 449px) {
  .scribo-info .--compteur_heures {
    font-size: 25px;
  }
}

.scribo-navbar {
  position: sticky;
  top: 10px;
  background-color: rgba(173, 37, 170, 0.85) !important;
  margin: 8px 5px -2px;
  border: 0px inset #000;
  border-width: 1px;
  z-index: 5;
}
.scribo-navbar--logger {
  top: 70px;
}
.scribo-navbar a {
  text-decoration: none !important;
}
.scribo-nav {
  margin: 0px auto;
}
.scribo-nav--all {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}
.scribo-nav--major.footer a {
  float: right;
}
.scribo-nav--major a {
  padding: 5px 5px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 0px;
  border-radius: 5px;
}
.scribo-nav--major a > div {
  padding: 4px 9px 0px 0px;
}
@media screen and (max-width: 767px) {
  .scribo-nav--major a > div {
    padding: 4px 0px 0px;
  }
}
.scribo-nav--major a:hover > div {
  box-shadow: inset 0px 1px 0px 1px hsl(0, 0%, 0%), inset 0px -1px 2px 0px hsl(0, 0%, 100%);
  border-radius: 5px;
  background-color: #8f248d;
}
.scribo-nav--major a i {
  width: 40px;
  font-size: 28px;
  color: hsl(230, 100%, 86%);
}
.scribo-nav--major a i.accueil {
  text-shadow: 1px 2px 2px hsl(205, 100%, 37%);
}
.scribo-nav--major a i.contact {
  text-shadow: 1px 2px 2px hsl(34, 87%, 47%);
}
.scribo-nav--major a i.login {
  text-shadow: 2px 2px 2px hsl(119, 99%, 31%);
}
.scribo-nav--major a i.logout {
  text-shadow: 2px 2px 2px hsl(0, 100%, 50%);
}
@media screen and (max-width: 767px) {
  .scribo-nav--major a i {
    width: 45px;
    text-align: center;
  }
}
.scribo-nav--major a i::before {
  text-align: center;
  display: block;
  line-height: 30px;
}
.scribo-nav--major a:hover i {
  text-shadow: -1px -1px 0px hsl(0, 0%, 0%), 1px 1px 0px hsl(0, 0%, 46%);
}
.scribo-nav--major a .major_name {
  text-shadow: 1px 2px 2px hsl(0, 0%, 0%);
}
.scribo-nav--major a .major_name span {
  position: relative;
  display: block;
  top: 5px;
}
@media screen and (max-width: 767px) {
  .scribo-nav--major a .major_name {
    display: none !important;
  }
}
.scribo-nav--major a:hover .major_name {
  text-shadow: 0px -1px 1px hsl(0, 0%, 0%), 0px 1px 1px hsl(0, 0%, 100%);
  color: hsl(0, 0%, 90%);
}
.scribo-nav--major__logo .--logo-long,
.scribo-nav--major__logo .--logo-court {
  position: relative;
  height: 0;
  left: -50vw;
  transition: 1.9s all 0.2s;
  background: linear-gradient(90deg, #d47dd2 0%, rgba(174, 66, 172, 0.021) 100%);
}
.scribo-nav--major__logo .--logo-long.newClass {
  left: 0;
  height: 40px;
}
@media screen and (max-width: 767px) {
  .scribo-nav--major__logo .--logo-long {
    display: none;
  }
}
.scribo-nav--major__logo .--logo-court {
  display: none;
}
.scribo-nav--major__logo .--logo-court.newClass {
  left: 0;
  width: 50px;
}
@media screen and (max-width: 767px) {
  .scribo-nav--major__logo .--logo-court {
    display: block;
  }
}
.scribo-nav--secondary__nav ul {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  text-align: left;
  font-weight: normal;
}
@media screen and (max-width: 1049px) {
  .scribo-nav--secondary__nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    flex-direction: column;
  }
}
.scribo-nav--secondary__nav li {
  margin: auto;
  padding: 0;
  background-color: #ea71e8;
  box-shadow: 0px 0px 10px 1px rgba(62, 56, 61, 0.021);
  padding-right: 5px;
  transition: 0.5s all 0.2s;
}
.scribo-nav--secondary__nav li a {
  display: block;
  position: relative;
  font-size: 18px;
  color: white;
  padding: 0 10px 5px 9px;
  margin-left: 2px;
  text-shadow: 1px 2px 2px #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1050px) {
  .scribo-nav--secondary__nav li {
    position: relative;
    min-width: 150px;
    max-width: 220px;
    border-top: groove;
    border-radius: 10px 10px 0 0;
    margin-left: 2px;
  }
}
.scribo-nav--secondary__nav > ul {
  text-align: center;
  font-weight: bold;
}
.scribo-nav--secondary__nav > ul > li > a::after:not(:empty) {
  display: inline-block;
  position: absolute;
  right: 0px;
  margin: 0px 5px 0px 2px;
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  content: "\f0d7";
  font-size: inherit;
  text-rendering: auto;
  transition: 1.6s transform 0.5s;
  padding-top: 3px;
  height: 32px;
}
.scribo-nav--secondary__nav > ul > li:hover {
  box-shadow: 0px 0px 10px 1px #3e383d;
  z-index: 5;
}
.scribo-nav--secondary__nav > ul > li:hover a::after {
  transform: rotate(180deg);
}
.scribo-nav--secondary__nav > ul > li:hover > ul {
  max-height: 15em;
}
.scribo-nav--secondary__nav > ul > li > ul {
  flex-direction: column;
  width: inherit;
  max-height: 0;
  overflow: hidden;
  transition: 1s all 0.2s;
  transition-timing-function: cubic-bezier(0.73, 0.08, 0.31, 0.88);
}
.scribo-nav--secondary__nav > ul > li > ul li {
  display: block;
  background: hsl(0, 0%, 30%);
  border-left: 6px solid #ec79ea !important;
  border-bottom: 1.5px solid hsl(0, 0%, 30%) !important;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0;
  /* font-size: 12px; */
  line-height: 20px;
}
.scribo-nav--secondary__nav > ul > li > ul li:last-child {
  border-radius: 0px 0px 10px 10px;
  border-bottom-style: groove;
  border-bottom-width: 1.5px;
  border-bottom-color: hsl(0, 0%, 50%);
}
.scribo-nav--secondary__nav > ul > li > ul li:hover {
  background-color: hsl(0, 0%, 40%);
  box-shadow: 0px 0px 0px 0px hsl(0, 0%, 25%);
  border-left: 6px solid hsl(0, 0%, 80%) !important;
  border-bottom: 1.5px solid hsl(0, 100%, 50%) !important;
  padding: 0;
}
.scribo-nav--secondary__nav > ul > li > ul li a {
  padding: 5px;
}
.scribo-nav--secondary__nav > ul > li > ul li a i {
  display: inline;
  margin-right: 15px !important;
}
@media screen and (min-width: 1050px) {
  .scribo-nav--secondary__nav > ul {
    margin: 6px 0 0 0;
  }
}
@media screen and (max-width: 1049px) {
  .scribo-nav--secondary__nav {
    position: absolute;
    z-index: 999;
    left: -220px;
    top: 40px;
    overflow: hidden;
    transition: 1.5s all 0s;
    width: 170px;
    background-color: hsl(0, 100%, 31%);
    padding: 0px;
  }
}
.scribo-nav--secondary .navicon__checkbox {
  opacity: 0;
  position: absolute;
  left: -1000px;
}
.scribo-nav--secondary .navicon__checkbox:focus + label {
  box-shadow: 0 1px 1px 1px #990096;
}
.scribo-nav--secondary .navicon__checkbox:checked ~ label:hover {
  box-shadow: 0 1px 2pt 1pt #990096;
}
.scribo-nav--secondary .navicon__checkbox:checked ~ .navicon__label .navicon__box span {
  background-color: hsl(0, 0%, 95%);
}
.scribo-nav--secondary .navicon__checkbox:checked ~ .navicon__label .navicon__box span:first-child, .scribo-nav--secondary .navicon__checkbox:checked ~ .navicon__label .navicon__box span:last-child {
  background-color: hsl(0, 95%, 25%);
  border-bottom: 1px solid hsl(0, 0%, 0%);
  width: 25px;
  left: 1px;
}
.scribo-nav--secondary .navicon__checkbox:checked ~ .navicon__label .navicon__box span:first-child {
  transform: translate3d(2px, 11px, 0) rotate(45deg);
}
.scribo-nav--secondary .navicon__checkbox:checked ~ .navicon__label .navicon__box span:nth-child(2) {
  transform-origin: 0 0;
  transform: translate(-2000px);
  opacity: 0;
}
.scribo-nav--secondary .navicon__checkbox:checked ~ .navicon__label .navicon__box span:last-child {
  transform: translate3d(2px, -5px, 0) rotate(-45deg);
}
@media screen and (max-width: 1049px) {
  .scribo-nav--secondary .navicon__checkbox:checked ~ .scribo-nav--secondary__nav {
    left: 5px;
    margin-top: 15px;
    box-shadow: 0px 0px 10px 5px hsl(303, 5%, 23%);
    width: 200px;
    background-color: #4258b0;
    padding: 8px;
  }
}
@media screen and (min-width: 1050px) {
  .scribo-nav--secondary .navicon__checkbox {
    display: none;
  }
}
.scribo-nav--secondary .navicon__label {
  position: absolute;
  box-sizing: content-box;
  right: 15px;
  z-index: 999;
  margin: 6px 0 0 0;
  padding: 0 3px 0 2px;
  width: 25px;
  height: 28px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border-width: 0 2px 2px 0;
  border-bottom: groove;
  border-right: groove;
  overflow: visible;
  background-color: #ea9ae8;
}
.scribo-nav--secondary .navicon__label:hover {
  box-shadow: 0 1px 2pt 1pt #990096;
}
@media screen and (min-width: 1050px) {
  .scribo-nav--secondary .navicon__label {
    display: none;
  }
}
.scribo-nav--secondary .navicon__box {
  width: 25px;
}
.scribo-nav--secondary .navicon__box span {
  display: block;
  top: 6px;
  margin-top: -4px;
  width: 22px;
  height: 3px;
  left: 5px;
  border-bottom: 3px solid #000;
  border-radius: 30%;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}
.scribo-nav--secondary .navicon__box span:nth-child(2) {
  content: "";
  top: 14px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 2.2s;
}
.scribo-nav--secondary .navicon__box span:last-child {
  content: "";
  top: 22px;
}

.w3-modal {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: initial;
  color: initial;
}
.w3-modal .w3-modal-content {
  background-color: hsl(301, 59.24%, 82.61%);
}
.w3-modal .w3-modal-content .w3-avatar {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  width: 110px;
}
.w3-modal .w3-modal-content .title {
  display: flex;
  justify-content: center;
}
.w3-modal .w3-modal-content .modal-patienter {
  font-size: 20px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.w3-modal .w3-modal-content .modal-patienter img {
  width: 20px;
  height: auto;
  display: inline;
}
.w3-modal .w3-modal-content form fieldset {
  background-color: hsl(0, 0%, 92.91%);
}
.w3-modal .w3-modal-content form fieldset .w3-input {
  width: 80%;
}
.w3-modal .w3-modal-content form fieldset label {
  margin-bottom: 10px;
}
.w3-modal .w3-modal-content form .erreur {
  display: none;
}
.w3-modal .w3-modal-content > div:last-child, .w3-modal .w3-modal-content > div:first-child {
  background-color: hsl(301, 46.57%, 35.99%) !important;
}

.elementor-element--promotion {
  display: none;
}

.w3-tooltip span {
  position: absolute;
  left: 10px;
  bottom: -35px;
}

#wpadminbar {
  height: auto !important;
}

.scribo-information {
  height: 0px;
  width: 0px;
}

.w3-modal {
  z-index: 5 !important;
}

#pwd_div {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
#pwd_div input[type=checkbox] {
  display: none;
}
#pwd_div .pwd__label {
  cursor: pointer;
  margin: 0 0 0 5px;
}

.flexible_non {
  display: flex;
  flex-wrap: nowrap;
}
.flexible_non div {
  padding-right: 5px;
}
.flexible_oui {
  display: flex;
  flex-wrap: wrap;
}
.flexible_oui div {
  padding-right: 5px;
}
.flexible_colonne {
  display: flex;
  flex-direction: column;
}
.flexible_colonne div {
  padding-right: 5px;
}
.flexible_badge {
  display: none;
}

.enligne_erreur {
  color: red;
}/*# sourceMappingURL=app.css.map */